src_module/javasource/
src_module/deployment/
src_module/.classpath
src_module/.project
src_module/theme/
src_module/userlib/
*.launch
*.tmp
*.lock
.idea/

dist/

node_modules/
.editorconfig
*DS_Store*
.vscode/
*.bak
