.jquery-counter {
    background-color: rgba(0, 0, 0, .5);
    border-bottom: 5px solid #6d026d;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 15px;

    .counter-header {
        padding: 10px;
        text-align: center;

        h1 {
            color: #fff;
            display: inline;
            font-size: 35px;
            font-weight: bold;
            margin: 0 10px;
            user-select: none;
        }

        span {
            color: purple;
            display: inline;
            font-size: 50px;
            position: relative;
            text-shadow: 0 0 70px;
            top: 7px;
        }
    }

    .counter-count {
        font-size: 80px;
        font-weight: bold;
        text-align: center;
        color: purple;
        -webkit-text-stroke: 4px #fff;
    }

    .controls-wrapper {
        display: flex;
    }

    .counter-btn {
        background-color: purple;
        border: none;
        color: #fff;
        font-size: 35px;
        font-weight: bold;
        padding: 0 30px;
        text-align: center;
        transition: all .2s ease-in-out;
        width: 50%;

        &:hover {
            background-color: #6d026d;
        }
    }
}